<!--
  This launches the Kinova m1n6s200 robot arm with Kinect and Hokuyo lidar sensors
-->
<launch>
  <arg name="robot_namespace"   default="/"/> <!-- robot's name used by plugin to publish topics -->
  <arg name="base_prefix"       default="base_plate" />
  <arg name="kinova_robotType" default="$(optenv KINOVA_ARM m1n6s200)" />
  <arg name="kinova_robotName" default="$(arg kinova_robotType)"/>
	<arg name="kinova_robotSerial" default="not_set" />
  <arg name="use_lidar"          default="true"/>

  <!-- Load the Kinect drivers for the CNU Lab setup -->
  <group ns="$(arg robot_namespace)">

      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find chris_kinova_bringup)/urdf/chris_kinova_lab.xacro'" />

      <node name="$(arg kinova_robotName)_driver" pkg="kinova_driver" type="kinova_arm_driver" output="screen" cwd="node" args="$(arg kinova_robotType)">
        <rosparam file="$(find kinova_bringup)/launch/config/robot_parameters.yaml" command="load" />
        <param name="serial_number" value="$(arg kinova_robotSerial)" />
        <param name="robot_name" value="$(arg kinova_robotName)" />
        <param name="robot_type" value="$(arg kinova_robotType)" />
        <remap from="/$(arg kinova_robotName)_driver/out/joint_state"      to="/$(arg kinova_robotName)_driver/joint_states"/>
      </node>

      <node name="$(arg kinova_robotName)_state_publisher" pkg="robot_state_publisher"  type="robot_state_publisher">
        <remap from="joint_states" to="/$(arg kinova_robotName)_driver/joint_states"/>
      </node>

      <include file="$(find chris_kinova_bringup)/launch/chris_kinect_bringup.launch"/>


      <group if="$(arg use_lidar)">
          <!-- LIDAR interface -->
          <node name="hokuyo_node" pkg="urg_node" type="urg_node" >
             <param name="frame_id"     value="hokuyo_laser" />
             <remap from="scan"         to="hokuyo_node/scan_raw" />
             <remap from="/diagnostics" to="diagnostics"/>
          </node>

          <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter" ns="$(arg robot_namespace)">
                <remap from="scan"          to="hokuyo_node/scan_raw" />
                <remap from="scan_filtered" to="hokuyo_node/scan" />
                <rosparam command="load" file="$(find chris_kinova_bringup)/param/laser_filters.yaml" />
          </node>
      </group>

  </group> <!-- end of robot_namespace -->
</launch>
