<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_namespace"        default="/"/> <!-- robot's name used by plugin to publish topics -->
  <arg name="kinova_robotType"       default="m1n6s200" />
  <arg name="robot_name"             default="m1n6s200"/>
  <arg name="robot_description_file" default="$(find chris_kinova_bringup)/urdf/chris_kinova_lab.xacro" />
  <arg name="use_lidar"              default="true"/>

  <!-- launch the base robot simulation based on given robot description -->
  <include file="$(find chris_kinova_bringup)/launch/chris_kinova_robot_gazebo.launch">
    <arg name="robot_namespace"        value="$(arg robot_namespace)"/>
    <arg name="kinova_robotType"       value="$(arg kinova_robotType)" />
    <arg name="robot_name"             value="$(arg robot_name)"/>
    <arg name="robot_description_file" value="$(arg robot_description_file" />
  </include>

  <!-- launch sensor suite (Kinect camera plugin included in lab robot description )-->
  <group ns="$(arg robot_namespace)">
    <group if="$(arg use_lidar)">
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter" ns="$(arg robot_namespace)">
              <remap from="scan"          to="hokuyo_node/scan_raw" />
              <remap from="scan_filtered" to="hokuyo_node/scan" />
              <rosparam command="load" file="$(find chris_kinova_bringup)/param/laser_filters.yaml" />
        </node>
    </group>
  </group>

</launch>
